/* 
|-----||-----||-----||-----||-----|
    Navbar-información de contacto
|-----||-----||-----||-----||-----|
*/
.nav__info {
    background-color: var(--clr-secundario);
}

.info {
    height: 14.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    color: var(--clr-light);
}

.info .logo {
    width: 16.8rem;
}

.info h2 {
    font-size: 2rem;
    font-weight: var(--fw-regular);
    margin-bottom: 0.6rem;
}

.info p {
    font-size: 3.6rem;
    font-weight: var(--fw-bold);
}

.info ion-icon {
    height: 4rem;
    width: 4rem;

    fill: var(--clr-light);

    transition: fill 0.2s ease-in;
}

.info ion-icon:hover {
    fill: var(--clr-);
}

/* 
|-----||-----||-----||-----||-----|
            Navbar
|-----||-----||-----||-----||-----|
*/
.navbar {
    position: sticky;
    top: 0;

    background-color: var(--clr-light);

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    z-index: 10;
}

.bar {
    height: 8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar .logo {
    width: 11.5rem;
}

.links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.links ul {
    display: flex;
    align-items: center;
    gap: 3.6rem;

    margin-right: 3.6rem;
}

.links ul a {
    padding: 1.2rem;
    border-bottom: 1px solid transparent;

    transition: border 0.2s ease-in;
}

.links ul a:hover {
    border-bottom: 1px solid var(--clr-primario);
}

.links > div {
    display: flex;
    align-items: center;
}

.carrito {
    margin-left: 3.6rem;

    position: relative;

    transition: transform 0.2s ease-in;
}

.carrito:hover {
    transform: translateY(-0.4rem) rotate(10deg);
}

.bar i {
    font-size: 3.2rem;
}

.numero-items {
    background-color: var(--clr-acento);
    width: 2.6rem;
    height: 2.6rem;
    padding: 1.2rem;
    border-radius: 50px;

    position: absolute;

    top: -25%;
    right: -25%;
}

.numero-items p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--clr-light);
}

.btn-menu {
    background-color: var(--clr-light);
    border: none;
    cursor: pointer;

    display: none;
}

.btn-menu i {
    font-size: 3.2rem;
}

/* 
|-----||-----||-----||-----||-----|
            Hero
|-----||-----||-----||-----||-----|
*/
section {
    margin-bottom: 13.6rem;
}

.seccion-hero {
    position: relative;

    padding-top: 8rem;
    padding-bottom: 8rem;

    z-index: 1;
}

.linea {
    position: absolute;
    top: 0;
    left: 0;
    width: 36rem;
    height: 100%;
    background-color: var(--clr-secundario);

    z-index: -2;

    border-bottom-right-radius: 10px;
}

.hero__contenido {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    /* gap: 7.2rem; */

    align-items: center;
}

.hero__img {
    max-width: 40rem;
    height: 60rem;

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.hero__img img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.hero__info {
    max-width: 55.6rem;

    margin-left: auto;
}

.hero__nombre {
    font-size: 2rem;
    font-weight: var(--fw-semi);

    margin-bottom: 1.6rem;
}

.hero__titulo {
    font-size: 6rem;
    font-weight: var(--fw-semi);
    line-height: 105%;

    margin-bottom: 2rem;
}

.hero__texto {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
}

.hero__botones {
    display: flex;
    gap: 1.6rem;
}

/* 
|-----||-----||-----||-----||-----|
            Internet
|-----||-----||-----||-----||-----|
*/
h2 {
    font-size: 4.8rem;
    font-weight: var(--fw-medium);
    max-width: 44rem;

    margin-bottom: 6.8rem;
}

.paquetes {
    display: flex;
    align-items: center;
    gap: 3.6rem;
}

.paquetes > div {
    flex: 1 1 0px;
}

.paquetes__principal {
    position: relative;
}

.paquetes__principal img {
    width: 100%;
}

.paquete__principal {
    width: 33rem;
    height: 42.4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--clr-light);
    border-radius: 10px;
    padding: 3.6rem 4rem;

    text-align: center;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.principal__nombre {
    font-size: 3rem;
    font-weight: var(--fw-medium);

    margin-bottom: 1.6rem;
}

.principal__linea {
    width: 100%;
    height: 1px;
    background-color: var(--clr-primario);
    margin-bottom: 3.6rem;
}

.principal__desc {
    font-size: 1.6rem;
    margin-bottom: 2.8rem;
    line-height: 130%;
}

.principal__precio {
    font-size: 1.8rem;
    margin-bottom: 3.6rem;
}

.principal__precio span {
    font-size: 7.2rem;
    font-weight: var(--fw-bold);
}

.paquetes__secundarios {
    /* height: 42.4rem; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.paquete__secundario {
    background-color: var(--clr-light);
    padding: 1.6rem 3.2rem;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

.secundario__nombre {
    font-size: 2.4rem;
    font-weight: var(--fw-medium);

    margin-bottom: 0.6rem;
    padding-left: 2.4rem;
}

.secundario__linea {
    width: 100%;
    height: 1px;
    background-color: var(--clr-primario);
    margin-bottom: 0.8rem;
}

.secundario__desc {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
}

.secundario__link {
    display: inline-block;
    margin-top: 0.4rem;

    font-size: 2rem;
    font-weight: var(--fw-bold);

    color: var(--clr-primario);
    border-bottom: 1px solid var(--clr-primario);

    align-self: flex-end;

    transition: all 0.2s ease-in;
}

.secundario__link:hover {
    color: var(--clr-secundario);
    border-bottom: 1px solid var(--clr-secundario);
}

.paquetes__lineas {
    width: 100%;
    height: 1.2rem;
    border-top: 2px solid var(--clr-secundario);
    border-bottom: 2px solid var(--clr-acento);
}

/* 
|-----||-----||-----||-----||-----|
        Productos Landing
|-----||-----||-----||-----||-----|
*/
.productos {
    margin-bottom: 4.2rem;

    overflow: visible;
}

.productos__titulo {
    font-size: 2.8rem;
    font-weight: var(--fw-medium);
    margin-bottom: 4.2rem;
}

.productos__lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.6rem;

    margin-bottom: 4.2rem;

    width: 116rem;
    /* overflow: scroll; */
}

.producto {
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    transition: transform 0.2s ease-in;
}

.producto:hover {
    transform: scale(105%);
}

.producto__img {
    /* width: 100%; */

    border-bottom: 1px solid var(--clr-acento);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 21.6rem;
}

.producto__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* height: 21.6rem; */
}

.producto__info {
    padding: 1.2rem 2rem 2.2rem;
}

.producto__nombre {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.producto__precio {
    width: fit-content;

    font-size: 2.4rem;
    font-weight: var(--fw-medium);
    color: var(--clr-primario);

    margin-left: auto;
}

.productos__link {
    display: block;
    width: 23rem;
    margin-left: auto;

    text-align: center;
}

.productos-sm {
    display: flex;
    gap: 3.4rem;

    margin-bottom: 4.2rem;
}

.producto-sm {
    border-radius: 10px;
    padding: 2rem;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    flex: 1 1 0px;

    display: flex;
    align-items: center;
    gap: 3.4rem;
}

.producto-sm__info,
.producto-sm__img {
    flex: 1 1 0px;
}

.producto-sm__titulo {
    font-size: 2.8rem;
    font-weight: var(--fw-medium);
    margin-bottom: 1.6rem;
}

.producto-sm__desc {
    font-size: 1.6rem;
    line-height: 130%;

    margin-bottom: 1.2rem;
}

.producto-sm__link {
    display: block;
    width: fit-content;

    font-size: 2rem;
    color: var(--clr-acento);
    border-bottom: 1px solid var(--clr-acento);

    margin-left: auto;

    transition: all 0.2s ease-in;
}

.producto-sm__link:hover {
    color: var(--clr-dark);
    border-bottom-color: var(--clr-dark);
}

.producto-sm__img img {
    width: 100%;
}

/* 
|-----||-----||-----||-----||-----|
            Productos
|-----||-----||-----||-----||-----|
*/
main {
    margin: 6.8rem 0;
    margin-bottom: 13.6rem;
}

main .contenedor {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3.6rem;

    text-align: center;
}

.categorias__titulo {
    font-size: 2.4rem;
    font-weight: var(--fw-bold);
    color: var(--clr-light);

    background-color: var(--clr-dark);

    padding: 1.6rem;
}

.categorias ul {
    border: 1px solid var(--clr-dark);
    border-bottom: none;
}

.categorias a {
    font-size: 1.8rem;

    border-bottom: 1px solid var(--clr-dark);
    padding: 1.4rem;

    display: block;

    transition: all 0.2s ease-in;
}

.categorias a:hover {
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

.focus {
    color: var(--clr-light);
    background-color: var(--clr-secundario);
}

.lista__productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.6rem;
}

/* 
|-----||-----||-----||-----||-----|
            Producto
|-----||-----||-----||-----||-----|
*/
.seccion-producto {
    margin-top: 6.8rem;
}

.articulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.6rem;
}

.articulo__imagenes {
    display: flex;
    gap: 2rem;
}

.articulo__imagenes img {
    width: 100%;
}

.imagenes__secundarias {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;

    width: 14rem;
    height: 100%;

    cursor: pointer;
}

.imagen__primaria {
    width: 100%;
    height: 41.4rem;
}

.imagen__secundaria {
    height: 8.6rem;
}

.imagen__primaria img,
.imagen__secundaria img {
    object-fit: contain;
    height: 100%;
}

.imagen__primaria,
.imagen__secundaria {
    display: flex;
    align-items: center;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    border-radius: 10px;

    overflow: hidden;
}

.imagen__inactiva {
    opacity: 0.65;
    transition: opacity 0.2s ease-in;
}

.imagen__inactiva:hover {
    opacity: 1;
}

.info__nombre {
    font-size: 2.4rem;
    font-weight: var(--fw-medium);

    margin-bottom: 0.6rem;
}

.info__precio {
    font-size: 2.4rem;
    font-weight: var(--fw-semi);

    color: var(--clr-primario);

    margin-bottom: 1.4rem;
}

.info__desc {
    font-size: 1.6rem;
    font-weight: var(--fw-regular);

    margin-bottom: 0.6rem;
}

.info__caracteristicas {
    font-size: 1.6rem;

    padding-left: 1.6rem;

    /* margin-bottom: 1.4rem; */
}

.info__acciones {
    display: flex;
    align-items: center;

    width: fit-content;

    margin-left: auto;
    margin-top: 2.4rem;
}

.info__cantidad {
    font-size: 1.6rem;
    margin-right: 1.6rem;
}

.articulo__info .btn {
    display: block;
    width: fit-content;
}

input[name="cantidad"] {
    max-width: 5.6rem;
    margin-right: 3.6rem;

    height: fit-content;
}

/* 
|-----||-----||-----||-----||-----|
            Carrito
|-----||-----||-----||-----||-----|
*/
.seccion-carrito {
    margin-top: 6.8rem;
}

.carrito__contenido {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3.6rem;
}

.carrito__lista,
.carrito__detalles {
    width: 100%;
}

.carrito__producto {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 3.6rem;

    align-items: center;

    border-bottom: 1px solid var(--clr-gray);

    padding-bottom: 3.6rem;
    margin-bottom: 3.6rem;
}

.carrito__img {
    height: 21.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    margin: 0 auto;
}

.carrito__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carrito__info .info__nombre {
    display: block;
    margin-bottom: 0.8rem;
}

.carrito__info .info__precio {
    margin: 0;
}

.info__precio span {
    font-size: 1.4rem;
    color: var(--clr-gray);
}

.carrito__acciones {
    margin-top: 1.6rem;

    display: flex;
    align-items: center;
}

.carrito__btn {
    display: block;

    background-color: transparent;
    border: none;

    font-size: 1.6rem;
    color: var(--clr-acento);
    border-bottom: 1px solid var(--clr-acento);

    transition: all 0.2s ease-in;

    cursor: pointer;
}

.carrito__btn:hover {
    color: var(--clr-primario);
    border-bottom: 1px solid var(--clr-primario);
}

.carrito__eliminar {
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: auto;

    background-color: transparent;
    border: none;

    font-size: 2rem;
    color: var(--clr-secundario);

    border: 1px solid var(--clr-secundario);
    border-radius: 100vw;
    cursor: pointer;

    padding: 0.8rem;

    transition: all 0.2s ease-in;
}

.carrito__eliminar:hover {
    color: var(--clr-light);
    background-color: var(--clr-secundario);
    border: 1px solid var(--clr-light);
}

.carrito__detalles {
    padding: 3.2rem 4.2rem;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    border-radius: 10px;

    height: fit-content;
}

.detalles__titulo {
    font-size: 3.6rem;
    font-weight: var(--fw-medium);
    margin-bottom: 1.2rem;
}

.detalles__total {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.detalles__num {
    font-size: 2.8rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primario);
    margin-bottom: 1.2rem;
}

.form__detalles {
    display: flex;
    flex-direction: column;
}

.form__detalles label {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.form__detalles input {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid var(--clr-gray);
    padding: 0.4rem 0.8rem;
}

.form__detalles input:focus {
    border-color: var(--clr-primario);
    border-width: 2px;
    outline: none;
}

/* 
|-----||-----||-----||-----||-----|
            Formulario
|-----||-----||-----||-----||-----|
*/
.formulario__contenido {
    background-color: var(--clr-secundario);
    color: var(--clr-light);

    border-radius: 10px;

    padding: 5.6rem 5.6rem;
}

.formulario__contenido h3 {
    font-size: 4.8rem;
    font-weight: var(--fw-medium);
    text-align: center;
    text-transform: uppercase;

    margin: 0 auto;
    margin-bottom: 6.6rem;
}

.formulario {
    max-width: 50.2rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.formulario__control {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.formulario__control label {
    font-size: 2rem;
    font-weight: var(--fw-medium);
    text-transform: uppercase;
}

.formulario__control input[type="email"],
.formulario__control textarea,
.formulario__control input,
.formulario__control select {
    font-size: 1.8rem;
    font-family: "Rubik", sans-serif;
    color: var(--clr-dark);

    height: 5.4rem;

    padding: 1.2rem 2.4rem;

    border: none;
    outline: none;
    border-radius: 10px;

    resize: none;
}

.formulario__control textarea {
    height: 10rem;
}

.formulario__control p {
    font-size: 2rem;
}

.formulario input[type="submit"] {
    width: 23.4rem;
    align-self: flex-end;
}

.seccion-crear {
    margin-top: 6.8rem;
}

.seccion-crear .formulario {
    max-width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario__control input[type="file"] {
    color: var(--clr-light);
}

.form__detalles button[name="solicitar"] {
    margin-top: 2.8rem;
}

/* 
|-----||-----||-----||-----||-----|
            Footer
|-----||-----||-----||-----||-----|
*/
footer {
    padding: 4.2rem 0;
    margin-top: 6.8rem;

    border-top: 1px solid var(--clr-acento);
}

.footer__grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 3.6rem;
}

.footer__col {
    height: 22.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer__col img {
    width: 12rem;
    height: auto;
}

.footer__aviso {
    margin-top: auto;
    font-size: 1.4rem;
}

.footer__col ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__icono {
    font-size: 3.2rem;
    color: var(--clr-secundario);

    margin-bottom: 0.6rem;
}

.footer__info {
    font-size: 1.4rem;
}

.footer__mapa {
    width: 100%;
}
